<%= form_with model:post, local:true do |f| %>

  <div class="image_border">
    <%= f.label :image, "Image" %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>

  <div class="field post-form-item">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: 'form-control post_name' %>
  </div>

  <div class="form-group">
    <%= f.label :body, "説明" %>
    <%= f.text_area :body, class: 'form-control post_introduction' %>
  </div>

  <div class="actions post-button-panel">
    <%= f.submit class: 'post-button' %>
  </div>

<% end %>
