<div class='container'>
  <div class='row d-flex justify-content-around'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">

      <h2 class="sign_title">Administrator Log in</h2>

      <%= form_for(:session, url: admin_login_path) do |f| %>
        <div class="field form-item">
          <%= f.label :Email %><br />
          <%= f.email_field :email,  autofocus: true, placeholder:"sample@example.com", autocomplete: "email" %>
        </div>

        <div class="field form-item">
          <%= f.label :Password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="actions button-panel">
          <%= f.submit "Log in", class: 'button' %>
        </div>
      <% end %>

    </div>
  </div>
</div>