<!DOCTYPE html>
<html>
  
  <head>
    <title>Bankyo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="first-container">
      
      <%= render "layouts/header" %>
      
      <!--フラッシュメッセージ -->
      <% if flash[:notice] %><p class="text-success col-md-5 sm-5 offset-md-1 sm-1"><%= notice %></p>
        <% else %><p class="text-danger col-md-5 sm-5 offset-md-1 sm-1"><%= alert %></p>
      <% end %>
    
    <main>
      <%= yield %>
    </main>
    
      <%= render "layouts/footer" %>
    </div>
  </body>
  
</html>
